
.menu-list{
    position: relative;
    /* top: -32px; */
    top: 0px;
    /* transition: width .4s !important; */
}
.menu-container{
    width: 200px;
    position: relative;
    top: 0px;
    float: left;
    height: 100%;
    background: #1f2c35;
    transition: width .1s;
}
.router-container{
    float: left;
    position: relative;
    /* background: #0e0436; */
    background: url('/static/img/bg.png') no-repeat;
    background-size:100% 100%;
    height: 100%;
    width: 2800px;
    transition: width .1s;
    color: #fff;
}
.toolbar{
    position: relative;
    left: 0px;
    height: 40px;
    background: #fff;
}
.button-toggle{
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 10;
}
ul.menu-List,.menu-List ul,.menu-List li,.menu-List li ul{
    position: relative;
    background: #1f2c35 !important;
}
.menu-container a,.menu-container li{
    color: #fff;
}
.menu-container a:focus{
    text-decoration: none !important;
}
.button-home{
    position: absolute !important;
    left: 66px;
    top: 0px;
    z-index: 10;
}
li.itemSelected {
    /* background: #1890ff !important; */
    color: #36a7df !important;
}
li.itemSelected a{
    color: #36a7df;
}
.ant-menu-item span{
    color: #fff;
}
li{ cursor: default !important;}